$background-color:red;
$title-color:#202020;
$font-color:#6D6D6D;
$link-color: #0A7AFF;
$menu-background:#c0c0c080;


$switch-color:#E9E9EB;
$switch-active-color:#32D74B;
$switch-button-color:#FFFFFF;